.idea/
client/.vscode/
client/build/

server/nodejs/.idea/
server/nodejs/node_modules/
server/nodejs/.vscode/
server/nodejs/yarn-error.log
server/nodejs/kotus-sanalista_v1.xml

server/php/.idea/
server/php/kotus-sanalista_v1.xml
